/**
 *
 *    Main.css
 *
 */
/*


/*----------  Importing Mixins, Variables and Base  ----------*/

@import '_base/mixins.styl';
@import '_base/variables.styl';
@import '_base/normalize_grid_bootstrap.styl';
@import '_base/base.styl';


/*----------  Importing Layout Pages  ----------*/

@import '_layout/home.styl';